---
import { skills, projects } from "../data/constants";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>
      Hi, I'm <span>Tony</span>.
    </h1>

    <!-- about section -->
    <div class="py-10">
      <h2 id="about" class="py-4">About</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <div class="self-center place-self-center">
          <img
            src="/public/profile_image.png"
            alt="profile image"
            class="p-8 rounded-full"
          />
        </div>
        <div class="text-center self-center p-8">
          <p>
            Welcome to my developer portfolio website, where technology, design,
            and the magic of machine learning converge.<br /><br />
          </p>
          <p>
            As a passionate developer, I've embarked on a multifaceted journey
            that spans web development, user-centered design, and the
            fascinating world of machine learning.<br /><br />
          </p>
          <p>
            You'll discover an array of projects that showcase my skills, from
            responsive websites to intelligent applications driven by AI and ML.
          </p>
        </div>
      </div>
    </div>

    <!-- skills section -->
    <div class="py-10">
      <h2 id="skills" class="py-4">Skills</h2>
      <div class="flex flex-row justify-around">
        {
          skills.map((category) => (
            <div class="flex flex-col">
              <h3>{category.name}</h3>
              <ul class="flex flex-col gap-5">
                {category.items.map((item) => (
                  <li>
                    <img
                      src={item.icon}
                      alt={`${item.name} icon`}
                      class="w-20 h-20"
                    />
                    <p class="text-center">{item.name}</p>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <!-- projects section -->
    <div class="py-10">
      <h2 id="projects" class="py-4">Projects</h2>
      <div>
        <ul class="projects-grid">
          {
            projects.map((project) => (
              <li>
                // name
                <p>{project.name}</p>
                // image
                <a
                  href={project.url}
                  class="flex justify-center max-h-72 sm:max-h-60 bg-black">
                  <img
                    src={project.image}
                    alt={project.desc}
                    class="object-cover object-top sm:h-60 min-w-60"
                  />
                </a>
                // tags
                <div>
                  <p class="flex flex-row justify-center items-center gap-2 text-xs">
                    {project.tags.map((tag) => (
                      <span>{tag}</span>
                    ))}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3,
  span {
    color: aqua;
  }
  p {
    color: white;
  }

  .projects-grid {
    display: grid;
    align-items: center;
    /* auto create columns with defined minmax values */
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 3rem;
    text-align: center;
  }
</style>

<!-- <style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
    height: 100vh;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style> -->
