---
import { Image } from "astro:assets";
import { projects } from "../data/constants";

const { heading } = Astro.props;
---

<div>
  <div class="flex flex-row gap-8 py-8 items-center">
    <h2 class="font-medium text-3xl tracking-wider">{heading}</h2>
    <hr class="line w-full" />
  </div>

  <div class="pt-16 pb-8">
    <ul class="projects-grid">
      {
        projects.map((project) => (
          <li>
            <p>{project.name}</p>
            <a
              href={project.url}
              class="flex justify-center max-h-96 sm:max-h-72 bg-transparent">
              <Image
                src={project.image}
                alt={project.desc}
                width="640"
                height="360"
                loading="lazy"
                class="project-image object-cover object-top aspect-square rounded-md"
              />
            </a>
            <div>
              <p class="flex flex-row justify-center items-center gap-2 text-xs">
                {project.tags.map((tag) => (
                  <span>{tag}</span>
                ))}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .projects-grid {
    display: grid;
    align-items: center;
    /* auto create columns with defined minmax values */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 3rem;
    text-align: center;
  }

  .project-image {
    filter: contrast(90%) blur(0.5px) hue-rotate(-60deg);
    transition: all 0.4s ease-in-out;
  }

  a:hover > .project-image {
    filter: contrast(100%) blur(0) hue-rotate(0);
  }
</style>
